body 
{
  background-image: url("./img/arcade_background.jpg");
  font-family: "Lucida Console", "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center
{
  background-color: aquamarine;
  border: solid;
  margin-left: 50px;
  margin-right: 50px;
  padding: 15px;
  border-radius: 2pc;
  display: inline-block;
}

.container
{
  display: flex;
}

.grille
{
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(./img/space_background.png);
  border: solid;
  margin-top: 10px;
}

/* seletionne les <div> dans la div qui a la classe "grille" */
.grille div
{
  height: 20px;
  width: 20px;
}

.piece
{
  background-color: blue;
  border-color: black;
  border-width: 0.5px;
}

.mini-grille
{
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  border: solid;
}

.mini-grille div
{
  height: 20px;
  width: 20px;
}

.button 
{
  display: inline-block;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover
{
  background-color: #0a520c
}

.button:active 
{
  background-color: #3e8e41;
  transform: translateY(2px);
}

h1
{
  font-weight: bold;
  font-style: italic;
  border-style: solid;
  border-radius: 1pc;
  background-color: bisque;
}

#infos_jeu
{
  display: flex;
  margin-right: 10px;
}

#infos_jeu h3
{
  border-style: solid;
  padding: 5px;
  margin-right: 10px;
  border-radius: 1pc;
  background-color: bisque;
}